h1 {
	font-family: "Arial";
	font-size: 32px;
}

p {
	font-family: "Arial";
	font-size: 16px;
	color: #B9B9B9;
	text-align: center;
}

.window {
	width: 600px;
	height: 290px;
	border-radius: 20px;
	background: #F5F5F5;
}

.unactive {
	color: #B9B9B9;
}

.container {
	display: flex;
	justify-content: space-around;
	margin: 0px 40px;
	
}

.input {
	width: 190px;
	height: 20px;
	border-radius: 10px;
	border: 2px solid #B9B9B9;
	font-family: "Arial";
	font-size: 18px;
	color: #B9B9B9;
	padding: 20px;
}

.button {
	width: 494px;
	height: 60px;
	border-radius: 10px;
	background: #A6C81E;
	font-family: "Arial";
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	margin: 20px 53px;
	color: white;
}